{% extends "_layouts/base.html" %}

{% block page_title %}Tapjoy - 中国{% endblock %}
{% block page_class %}应用详情{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/portfolio.pack.min.js"></script>
<script>

    $(document).ready(function() {
      var p = $('#gallery').portfolio({
        loop: true, // loop on/off
        easingMethod: 'easeOutQuint', // other easing methods please refer: http://gsgd.co.uk/sandbox/jquery/easing/
        height: '500px', // gallery height
        width: '100%', // gallery width in pixels or in percentage
        lightbox: false, // dim off other images, highlights only currently viewing image
        logger: false // for debugging purpose, turns on/off console.log() statements in the script
      });
      p.init();
    });

</script>



<script>
$('#long-des').on('show', function () {
   $('#short-des').collapse('hide')
   $('#showmore').hide()
}).on('hide', function () {
   $('#short-des').collapse('show')
   $('#showmore').show()
})
</script>


{% endblock %}

{% block content %}



<div class = "container">
      <div class="detail-header">
          <p class="text-center">
            <a class="btn btn-small pull-left" onclick="javascript:history.go(-1);return false;">&nbsp<i class = "icon-arrow-left icon-red"></i>&nbsp</a>  应用详情
             {% if request.user.is_staff %}
              <a class="btn btn-small pull-right" href = "{% url 'admin:apps_app_change' app.id %}">编辑</a>
             {% endif %}
          </p>
      </div>
    	<div class = "app-detail clearfix">


              <div class = "appicon pull-left" ><img src = "{{ app.icon.url }}"> </div>
              <div class = "app-basic">
                <div class = "appname">{{ app.app_name }}</div>
                <div>{{ app.size | filesizeformat}}</div>
              </div>


        <a class="btn pull-right" href="{% url 'download' app_id=app.app_id %}"><i class = "icon-download-alt"></i><br><span class="btn-nowrap">下载</span></a>

      </div>
    		<div>

          <div class = "app-description" data-toggle="collapse" data-target="#long-des">
            <h4>简介:  <a id="showmore" class="btn btn-mini pull-right">  &nbsp. . .&nbsp</a> </h4>
            <div id="long-des" class="collapse out"> {{ app.description }}</div>
            <div id="short-des" class="collapse in"> {{ app.description | truncatechars:50 }}</div>
          </div>





          <div class = "app-description"><h4>预览:</h4>
          <div id="gallery">
                <img data-src="{{ app.img1.url }}" alt="Preview 1" />
                <img data-src="{{ app.img2.url }}" alt="Preview 2" />
                <img data-src="{{ app.img3.url }}" alt="Preview 3" />
                <img data-src="{{ app.img4.url }}" alt="Preview 4" />

          </div>
          </div>
    		</div>


      </div>


</div>

{% endblock %}
