{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

<div>


<form class="form-search" action="{% url 'appsearch' %}" method="POST">
  {% csrf_token %}
  <div class="input-append">
    <input type="text" class="span2 search-query" name="query"/>
    <button type="submit" class="btn">搜索</button>
  </div>
</form>
{% if apps_list %}
<p>Your search for &ldquo;<strong>{{ query }}</strong>&rdquo; had <strong>{{ search_meta.total_found }}</strong> results.</p>
<p>search_meta object dump: {{ search_meta }}</p>
{% endif %}
<hr/>
<table class="table">
  <caption><h1>搜索结果</h1></caption>
  <tbody>
{% for app in apps_list %}
      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
      	<div class = "clearfix">
      		<div class = "appicon"><img src = "{{ app.icon.url }}"></div>
      		<div>
      			<div class = "appname">{{ app.app_name }}</div>
      			<div>{{ app.size }}</div>
      		</div>
      		
        </div>
      </td>
      <td class = "p10">
      	<div> 
      	   <a class="btn btn-large" href="{{ app.apk.url }}"><i class = "icon-download-alt"></i></a> 
        </div>
      </td>
      </tr>
{% endfor %}
<tr><td></td><td></td></tr>

     
  </tbody>
  </table>
</div>

{%  endblock %}