{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block js%} 
<script>$('.carousel').carousel({
  interval: 3000
})</script>
{% endblock %}
{% block content %}
<div class = "container carouselcontainer">
<div id="myCarousel" class="carousel slide">
      
      <div class="carousel-inner">

        {% for app in apps_list %}
          {% if forloop.first %}<div class="item active">{% else %}<div class="item">{% endif %}
          <a href = "{% url 'appdetail' app_id=app.app.app_id %}">
          <img src="{{ app.img.url }}" alt="">
          <div class="carousel-caption">
            <p>{{ app.description }}</p>
          </div>
        </a>
        </div>
        {% endfor %}
      </div>
      <ol class="carousel-indicators">
        {% for app in apps_list %}
          {% if forloop.first %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"class="active"></li>
          {% else %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" ></li>
          {% endif %}
        {% endfor %}
      </ol>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
</div>


<div class = "container">
  <table class="table">
  <caption><h1></h1></caption>
  <tbody>
    {% for app in re_apps_list %}
    
      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
        <div class = "clearfix">
          <div class = "appicon"><img src = "{{ app.icon.url }}"></div>
          <div class = "app-basic">
            <div class = "appname">{{ app.app_name }}</div>
            <div>{{ app.size | filesizeformat}}</div>
          </div>
          
        </div>
      </td>
      <td class = "p10">
        <div> 
           <a class="btn" href="{{ app.apk.url }}" onclick="setTimeout(app_download('{{ app.app_id }}'), 1000)"><i class = "icon-download-alt"></i> <span class="btn-nowrap">下载</span></a> 
           
        </div>
      </td>
      </tr>
  {% endfor %}
     <tr><td></td><td></td></tr>

     
  </tbody>
  </table>
</div>


{% endblock %}