
    {% for app in apps_list %}

      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
        <div class = "clearfix">
          <div class = "appicon pull-left"><img src = "{{ app.icon.url }}"></div>
          <div class = "app-basic">
            <div class = "appname">{{ app.app_name }}</div>
            <div>{{ app.size | filesizeformat}}</div>
          </div>

        </div>
      </td>
      <td class = "p10">
        <div>
           <a class="btn" href="{% url 'download' app_id=app.app_id %}"><i class = "icon-download-alt"></i> <span class="btn-nowrap">下载</span></a>

        </div>
      </td>
      </tr>
  {% endfor %}



