{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block js%} 

<script>

  var page = 1;
  $("#loadmore").click(function(){
    $('#loadmore').button('loading');
    $.ajax({url: "{% url 'subcategory' subcategory_id=sub_category.id %}" + page, 
            success:function(result){
                       page += 1;
                       $("#app-panel").append(result);  
                    }, 
            complete:function(){$('#loadmore').button('reset');}});
  });

  $(document).ready(function() {
    $("#loadmore").click();
  }); 
  

</script>

{% endblock %}
{% block content %}


<div class = "container">


  <table class="table table-bordered">
  <caption><h1>{{ sub_category.sub_catg_name }}</h1></caption>
  <tbody id='app-panel'>
     
  </tbody>
  </table>
</div>

<div class="loadmore" > 
    <button type="button" class="btn btn-primary"   id = "loadmore" data-loading-text="请等待...">&nbsp&nbsp&nbsp&nbsp加载更多&nbsp&nbsp&nbsp&nbsp</button>
</div>

{% endblock %}