{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block js%} 
  <script>$('.carousel').carousel({
    interval: 3000
  })
  </script>

  <script>

  var page = 1;
  $("#loadmore").click(function(){
    $('#loadmore').button('loading');
    $.ajax({url: "{% url 'apphome' %}" + page, 
            success:function(result){
                       page += 1;
                       $("#app-panel").append(result);  
                    }, 
            complete:function(){$('#loadmore').button('reset');}});
  });

  $(document).ready(function() {
    $("#loadmore").click();
  }); 
  

</script>
{% endblock %}
{% block content %}
<div class = "container carouselcontainer">
<div id="myCarousel" class="carousel slide">
      
      <div class="carousel-inner">

        {% for app in apps_list %}
          {% if forloop.first %}<div class="item active">{% else %}<div class="item">{% endif %}
          <a href = "{% url 'appdetail' app_id=app.app.app_id %}">
          <img src="{{ app.img.url }}" alt="">
          <div class="carousel-caption">
            <p>{{ app.description }}</p>
          </div>
        </a>
        </div>
        {% endfor %}
      </div>
      <ol class="carousel-indicators">
        {% for app in apps_list %}
          {% if forloop.first %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"class="active"></li>
          {% else %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" ></li>
          {% endif %}
        {% endfor %}
      </ol>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
   </div>
</div>

</div>
<div class = "container">
  <table class="table table-bordered">
  <caption><h1></h1></caption>
  <tbody id = 'app-panel'>
   
  </tbody>
  </table>
</div>

<div class="loadmore" > 
    <button type="button" class="btn btn-primary"   id = "loadmore" data-loading-text="请等待...">&nbsp&nbsp&nbsp&nbsp加载更多&nbsp&nbsp&nbsp&nbsp</button>
</div>


{% endblock %}