{% extends "_layouts/base.html" %}

{% block page_title %}Tapjoy - 中国{% endblock %}
{% block page_class %}查询结果{% endblock %}


{% block js%}

<script>

</script>

{% endblock %}

{% block content %}

<div>


<form class="form-search" action="{% url 'appsearch' %}" method="POST">
  {% csrf_token %}
  <div class="input-append">
    <input type="text" class="span2 search-query" name="query"/>
    <button type="submit" class="btn">搜索</button>
  </div>
</form>
{% if 0 %}
<p>Your search for &ldquo;<strong>{{ query }}</strong>&rdquo; had <strong>{{ search_meta.total_found }}</strong> results.</p>
<p>search_meta object dump: {{ search_meta }}</p>
{% endif %}
<hr/>
<table class="table table-bordered">
  <caption><h1>搜索结果</h1></caption>
  <tbody>
{% for app in apps_list %}
      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
      	<div class = "clearfix">
      		<div class = "appicon"><img src = "{{ app.icon.url }}"></div>
      		<div>
      			<div class = "appname">{{ app.app_name }}</div>
      			<div>{{ app.size | filesizeformat }}</div>
      		</div>

        </div>
      </td>
      <td class = "p10">
      	<div>
      	   <a class="btn" href="{% url 'download' app_id=app.app_id %}"><i class = "icon-download-alt"></i><span class="btn-nowrap">下载</span></a>
        </div>
      </td>
      </tr>
{% endfor %}


  </tbody>
  </table>
</div>

{%  endblock %}
