{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block js%} 

<script>

function app_download(app_id) {
  return function() {
    $.post("{% url 'appdownload' %}",  {'app_id':app_id, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data){

    });

  };
}
</script>

{% endblock %}
{% block content %}

<input   type="button"   name="back"   value="返回"   onclick="javascript:history.go(-1);return false;">
<div class = "container">
  <table class="table">
  <caption><h1>{{ sub_category.sub_catg_name }}</h1></caption>
  <tbody>
  	{% for app in apps_list %}
    
      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
      	<div class = "clearfix">
      		<div class = "appicon"><img src = "{{ app.icon.url }}"></div>
      		<div>
      			<div class = "appname">{{ app.app_name }}</div>
      			<div>{{ app.size }}</div>
      		</div>
      		
        </div>
      </td>
      <td class = "p10">
      	<div> 
      	   <a class="btn btn-large" href="{{ app.apk.url }}" onclick="setTimeout(app_download('{{ app.app_id }}'), 1000)"><i class = "icon-download-alt"></i></a> 
          
        </div>
      </td>
      </tr>
	{% endfor %}
	   <tr><td></td><td></td></tr>

     
  </tbody>
  </table>
</div>

{% endblock %}