{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block js %}
<script>
    
    $(document).ready(function() {
       if ({{ category.id }}) {
          $('#' + {{ category.id }}).addClass('active');
       };

       $('#recomm_panel').show();
       $('#category_panel').hide();
       
    });
 
</script>

 <script>

  var page = 1;
  $("#loadmore").click(function(){
    $('#loadmore').button('loading');
    $.ajax({url: "{% url 'category' category_id=category.id  %}" + page, 
            success:function(result){
                       page += 1;
                       $("#app-panel").append(result);  
                    }, 
            complete:function(){$('#loadmore').button('reset');}});
  });

  $(document).ready(function() {
    $("#loadmore").click();
  }); 
  

</script>

{% endblock %}

{% block content %}



<div class = "container">
  <div class="category-header"> 
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary active" onclick="$('#recomm_panel').show();$('#category_panel').hide();">推 荐</button>
        <button type="button" class="btn btn-primary" onclick="$('#recomm_panel').hide();$('#category_panel').show();">分 类</button>
      </div>

  </div>

  <table class="table table-bordered" id="category_panel" style="display:none">
  <caption><h1></h1></caption>
  <tbody>
    {% for sub_catg in subcategory_list %}
    
      <tr>
      <td>
        <a href = "{% url 'subcategory' subcategory_id=sub_catg.id %}">
        <div class = "clearfix">
          <div class = "appicon"><img src = "{{ sub_catg.img.url }}"></div>
          <div>
            <div class = "appname">{{ sub_catg.sub_catg_name }}</div>
            <div></div>
          </div>
          
        </div>
      </td>
      <td></td>
      </tr>
  {% endfor %}
     

     
  </tbody>
  </table>
  <div id="recomm_panel">
  <table class="table table-bordered" >
  <caption><h1></h1></caption>
  <tbody  id="app-panel">
    {% for app in re_apps_list %}
    
      <tr>
      <td>
        <a href = "{% url 'appdetail' app_id=app.app_id %}">
        <div class = "clearfix">
          <div class = "appicon"><img src = "{{ app.icon.url }}"></div>
          <div class = "app-basic">
            <div class = "appname">{{ app.app_name }}</div>
            <div>{{ app.size | filesizeformat}}</div>
          </div>
          
        </div>
      </td>
      <td class = "p10">
        <div> 
           <a class="btn" href="{{ app.apk.url }}" onclick="setTimeout(app_download('{{ app.app_id }}'), 1000)"><i class = "icon-download-alt"></i> <span class="btn-nowrap">下载</span></a> 
           
        </div>
      </td>
      </tr>
  {% endfor %}
     
     
  </tbody>
  </table>

  <div class="loadmore" > 
    <button type="button" class="btn btn-primary"   id = "loadmore" data-loading-text="请等待...">&nbsp&nbsp&nbsp&nbsp加载更多&nbsp&nbsp&nbsp&nbsp</button>
  </div>
 </div> 
</div>
{% endblock %}