/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

td.p10 {width:10%;} 

.appname {
	font-size: 100%;
	font-weight: bold;
}

.downloadtext {
	font-size: 50%;
}

.appicon  {
	float:left;
}

.app-basic {
  float:left;
  padding-left: 10px;
  width: 40%;
}

.appicon img {
	width: 48px;
	height: 48px;
}

header .logo {
display: block;
position: absolute;
top: 0;
left: 0;
width: 80px;
height: 50px;
max-height: 100%;
background: #e9292e url("/static/img/logo.png") no-repeat center center scroll;
background-size: 70px 30px;
}

.detail-header {
  font-size: 120%;
  padding-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.category-header {
  font-size: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.app-detail {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}



.app-description {
  padding: 10px;  
  margin: 5px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background-color: #fff;
}

.carouselcontainer {
    max-width: 480px;
}

.btn-nowrap {
  white-space : nowrap
}